    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        transition: 0.5s ease-out;
    }
    
    a:hover {
        color: #79eede;
        transition: 0.5s ease-out;
        text-decoration: none !important;
    }
    
    html {
        font-family: sans-serif;
    }
    
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem 3rem;
        background: #1c1f33;
        min-height: 5rem;
    }
    
    @media only screen and (max-width: 768px) {
        .nav-item {
            margin: 1.5rem 0;
        }
        a.nav-link {
            font-size: 2rem;
            padding: 0;
        }
        li.nav-item:last-child::after {
            display: block;
            content: " "
        }
    }
    
    .wolfy {
        background-image: url("./assets/images/goat-skully.jpg");
    }
    
    .mememe {
        background-image: url('./assets/images/me_with_lucky.jpg')
    }
    
    header {
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: top left;
    }
    
    .introtext {
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem;
    }
    
    .introgradient {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: linear-gradient( 45deg, #1c1f33, 35%, transparent);
    }
    
    a.nav-link {
        transition: 0.5s ease-out;
    }
    
    a.nav-link:hover {
        color: #79eede !important;
        transition: 0.5s ease-out;
    }
    
    .navbar-collapse {
        justify-content: flex-end;
    }
    
    .wrapblock {
        padding: 2rem;
    }
    
    .grey {
        background-color: #e8e8ea;
    }
    
    .projectview,
    .skillsview {
        display: flex;
        flex-flow: row;
    }
    
    .projectpre,
    .skillpre {
        display: flex;
        width: calc(100% * (1/3, 001));
        flex-flow: column;
        padding: 1rem;
        transition: 0.5s ease-in;
        border: 1px solid transparent;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
    .projectpre:hover {
        border-left: 1px solid #1c1f33;
        border-right: 1px solid #1c1f33;
        transition: 0.5s ease-in;
    }
    
    .projectpre a {
        text-decoration: none;
        color: inherit
    }
    
    .projectpre:hover a {
        text-decoration: none;
        color: inherit
    }
    
    .looksy {
        content: "Take a look!";
        transition: 0.2s ease-in;
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 0rem 0rem;
        margin: auto;
        border: #79eede 2px solid;
        opacity: 0.8;
    }
    
    .projectpre:hover .looksy {
        transition: 0.52s ease-in;
        opacity: 1;
        background-color: #1c1f33;
        display: block;
        color: #79eede
    }
    
    .projectpre img,
    .skillpre img {
        width: 100%;
        max-height: 15rem;
        object-fit: cover;
    }
    
    .projectpre section,
    .skillpre section {
        padding-top: 1rem;
    }
    
    @media screen and (max-width:1070px) {
        .projectview,
        .skillsview {
            flex-flow: column;
        }
        .projectpre,
        .skillpre {
            width: 100%;
        }
        .contactsect {
            flex-flow: column-reverse;
            align-items: center;
        }
        .meself {
            margin-bottom: 2rem;
        }
        .socmed {
            width: 80% !important;
        }
    }
    
    @media screen and (max-width:1070px) and (min-width:700px) {
        .projectpre img {
            max-height: 30rem
        }
    }
    
    @media screen and (max-width: 768px) {
        .socmed {
            flex-flow: column;
        }
        .socmedicon {
            width: 100% !important;
            margin-bottom: 1rem;
        }
        .socmedicon:last-child {
            margin-bottom: 0;
            ;
        }
    }
    
    .skillpre img {
        object-fit: contain;
    }
    
    .socmed {
        width: calc(100% * (2/3.001));
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .socmedicon {
        width: calc(100% * (1/3.001));
        text-align: center;
        padding: 0 1rem;
    }
    
    .socmedicon img {
        object-fit: contain;
        max-height: 10rem;
        margin-bottom: 1rem;
    }
    
    .meself {
        display: flex;
        width: calc(100% * (1/3.001));
        flex-flow: column;
        align-items: center;
    }
    
    .meself img {
        object-fit: cover;
        border-radius: 50%;
        width: 18rem;
        height: 18rem;
    }
    
    .contactsect {
        display: flex;
    }
    
    .button-container {
        content: '';
        border: solid 2px #79eede;
        margin: auto;
        padding: 1rem 0rem;
        transition: 0.2s ease-out;
    }
    
    .button-container:hover {
        border: 0px transparent;
    }
    
    a.button {
        color: #1c1f33
    }
    
    .button-container .button {
        padding: 0rem 0rem;
        transition: 0.2s ease-out;
        margin: 0 1.5rem;
    }
    
    .button-container:hover .button {
        padding: 1rem 1.5rem;
        border: 2px solid #79eede;
        background-color: #1c1f33;
        margin: 0;
        color: #79eede
    }
    
    .buttonwrap {
        margin: auto;
        margin-top: 1rem;
        width: fit-content;
        height: 3.4rem;
    }
    
    body>footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #1c1f33;
        color: #fff;
        padding: 1rem 0
    }
    
    footer a {
        color: #fff;
    }
    
    footer a:hover {
        color: #79eede
    }
    
    footer>* {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0 !important;
    }
    
    footer>*>* {
        padding: 0 1rem 0 0;
        margin-bottom: 0 !important;
    }
    
    .projectGallery {
        display: flex;
        flex-wrap: wrap;
    }
    
    .gallery {
        padding-top: 6.5rem;
        max-width: 100%;
        overflow: hidden;
    }
    
    @media screen and (min-width: 768px) {
        .imgGal {
            height: 33vw !important;
            object-fit: cover;
        }
    }